{
	"extends": ["airbnb","airbnb-typescript","plugin:@next/next/recommended","prettier"],
	"plugins": ["simple-import-sort","prettier"],
	"rules": {
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"prettier/prettier": ["error"],
		"react/react-in-jsx-scope": "off",
		"import/extensions": "off",
		"no-underscore-dangle": "off",
		"import/prefer-default-export": "off"
	},
	"parserOptions": {
	   "project": "./tsconfig.json"
	 }
}